<launch>
    <arg name="prefix" default="" />
    <arg name="robot_ip" default="192.168.2.10"/>
    <arg name="max_velocity" default="3.14159" />
    <arg name="min_payload" default="0.0" />
    <arg name="max_payload" default="6.0" />
    <arg name="base_frame" default="$(var prefix)base" />
    <arg name="tool_frame" default="$(var prefix)tool0" />
    <arg name="pick" default="0.17 -0.45 0.2 0 0 -3.14159" />
    <arg name="place" default="0.25 -0.5 0.18 0 1.57 -3.1416" />

    <node pkg="tm_driver" exec="tm_driver" output="screen">
        <param name="prefix" value="$(var prefix)" />
        <arg name="ip" value="'192.168.2.10'" />
        <param name="robot_ip" value="'192.168.2.10'" />
        <param name="robot_ip_address" value="'192.168.2.10'" />
        <param name="max_velocity" value="$(var max_velocity)" />
        <param name="min_payload" value="$(var min_payload)" />
        <param name="max_payload" value="$(var max_payload)" />
    </node>
<!--
    <node pkg="tf2_ros" exec="static_transform_publisher" name="home_broadcaster" args="0.5 0 0.5 0 0 0 base home" />
    <node pkg="tf2_ros" exec="static_transform_publisher" name="safepick_broadcaster" args="0 0 -0.2 0 0 0 pick safepick" />
    <node pkg="tf2_ros" exec="static_transform_publisher" name="safeplace_broadcaster" args="0 0 -0.2 0 0 0 place safeplace" />
    <node pkg="tf2_ros" exec="static_transform_publisher" name="pick_broadcaster" args="0.17 -0.45 0.2 0 0 -3.14159 base pick" />
    <node pkg="tf2_ros" exec="static_transform_publisher" name="place_broadcaster" args="0.25 -0.5 0.18 0 1.57 -3.1416 base place" />
-->
</launch>